<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigations') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum beatae inventore, doloremque, consequatur, totam excepturi nam asperiores explicabo molestiae quod illo ullam. Adipisci alias blanditiis labore facere animi commodi voluptate hic itaque praesentium, quaerat repudiandae molestiae, esse inventore quo. Facere eligendi, minus, ullam ea, perferendis quaerat vel a id necessitatibus dolor ipsa ab laborum numquam culpa ducimus quod accusantium provident labore explicabo perspiciatis dolorum magni ipsum nostrum. Aut harum consequatur non laudantium itaque aliquid quidem quas voluptatibus molestias tempore repellat dolore dolor rerum sit sint veniam eos vel fugiat adipisci libero, magni officia maxime? Maxime est quam adipisci quae tempora sequi omnis tenetur eos cupiditate vitae reiciendis facere dolorum, nisi ipsum ea in voluptatum eligendi, labore, mollitia nemo! Hic aliquid vero sunt atque soluta. Provident a quaerat possimus est recusandae dignissimos quisquam obcaecati consequuntur veniam repellat, ratione cumque officiis cupiditate sequi corrupti voluptatum quas unde earum eaque sint labore! Porro at quas accusamus eligendi harum explicabo voluptates, cum enim ipsam cupiditate ex, molestias libero atque illum assumenda praesentium corrupti debitis nam voluptatem necessitatibus soluta aliquam. Quam totam suscipit consectetur harum voluptatum nulla quas inventore eligendi voluptates, saepe voluptatibus, aliquam optio. Officia fugit sed quis repellat ea enim omnis magni nulla?</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>